@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import './variables.scss';
@import './defaults.scss';
@import './helpers.scss';
@import './todo.scss';
@import './settings.scss';
@import './overriders.scss';

input[type="checkbox"] {
 cursor: pointer;
}

/* 
  TODO: when you have free time, find out why display:flex on #root affected the
  child web component(colorLiquids)
*/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.widgets-container {
  display: flex;
  padding: 50px 60px;  
  z-index: 10;
  position: relative;
}

.container-350 {  
  flex: 0 0 350px;
}

// Favicons
.fa-trash {
  color: var(--red-color);
}

[data-icon] {
  cursor: pointer;
}


.selected {
  box-shadow: var(--box-shadow-200);
  // transform: scale(1.2);
}

.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-foreground-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}






// Customize browser scrollbar

/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-background-color);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-foreground-color);  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-foreground-color); 
}

