
// react select styles
[class^=" css-"][class$="-control"]{
  background-color: var(--primary-background);
  box-shadow: var(--box-shadow-300);
  border-radius: 2px;
}

[class^=" css-"][class$="-menu"]{
  background-color: var(--primary-background);
  color: var(--primary-foreground);  
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 2px;
}

[class^=" css-"][class$="-MenuList"]{
  box-shadow: var(--box-shadow-300);
  border: none;
}

[class^=" css-"][class$="-singleValue"]{ 
  color: var(--primary-foreground);
}

[class^=" css-"][class$="-indicatorContainer"]{ 
  color: var(--primary-foreground);
}

[class^=" css-"][class$="-option"]{ 
  color: var(--primary-foreground);
  background-color: var(--primary-background);

  &:active, &:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
