.settings-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: 30;
  display: flex;

  header {
    min-height: 75px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;    
  }  
}

.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: var(--primary-foreground);
}

.settings {
  flex-grow: 1;
  background-color: var(--primary-background);
}

.sidebar-nav {
  max-width: 300px;
  width: 100%;
  padding: 60px 40px 0;
  background-color: var(--secondary-background);
  box-shadow: var(--box-shadow-200);
  z-index: 10;

  .nav-item {
    padding: 15px 0;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--primary-foreground);
    
    &.active {
      box-shadow: var(--box-shadow-200);
    }
  }
}

.settings-container {  
  label {
    font-size: 16px;
    padding: 0;
  }
}

.setting-500 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;  
  padding: 25px 30px;
}

.setting-fluid {
  padding: 10px 15px;
}

.setting-500,
.setting-fluid {
  border-radius: 4px;
  background-color: var(--secondary-background);  
  box-shadow: var(--box-shadow-200);
}


.user-info {
  display: flex;
  margin-bottom: 25px;

 .pic {
  border-radius: 2px;
  margin-right: 10px
 }

 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h4 {
    margin: 0;
    margin-bottom: 5px;
    color: var(--primary-foreground);
  }
  p {
    margin: 0;
    color:var(--secondary-foreground);
  }
 }

 .sub-text {
   font-size: 12px;
 }

}


.existing-liquids {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.liquid-setting {
  flex-basis: 40%;
}

.liquid-box {
  width: 85px;
  height: 75px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: var(--box-shadow-200);

  &.selected {
    box-shadow: var(--box-shadow-100);
  }
}

.effect-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}