@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  --black: #222f3e;
  --white: #ffffff;
  --white-dirty: #F7F8FA;
  --gray: #535c68;
  --primary-background: #b1b6b6;
  --secondary-background: var(--white);
  --debug-color:#57606f;
  --font-family: 'Roboto', sans-serif
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background: var(--debug-color);
  margin: 0;
}

input{
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
}

input,
button,
textarea {
  &:focus {
    outline: none
  }
}

textarea {
  border: none;
  resize: none;
}

label {
  padding: 25px 0px 10px;
  font-size: 14px;
  color: var(--gray);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  margin: 5px;
  padding: 5px 15px;
  border-color: var(--black);
  background-color: tomato;
  color: var(--black);
  border: none;
  font-size: 12px;
  cursor: pointer;  
  box-shadow: 0px 1px 3px 1.5px rgba(0, 0, 0, .1);
  border-radius: 2px;
}

button:disabled {
 background-color: var(--gray);
}

.done {
  opacity: 0.7;
}

input[type="checkbox"] {
 cursor: pointer;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}

// #animating-area {
//   background-color: #464d5a;
//   flex: 0 0 800px;
//   height: 500px;
// }

.todo-container {
  position: relative;
  border-radius: 3px;
  background-color: var(--primary-background);  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.box-container {
  border-radius: 3px;
  background-color: var(--white);  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.container-350-600 {
  height: 600px;
  flex: 0 0 350px;
}

.container-500-600 {
  height: 600px;
  flex: 0 0 500px;
}

.hide {
  display: none;
}

.editListIcon,
.deleteIcon {
  cursor: pointer;
}

#create-list {
  cursor: pointer;
  color: var(--secondary-background);
}

.lists-section {
  padding: 10px 30px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

input {
  border: 1px solid var(--white);
}

input {
  font-size: 14px;
}

// main list modules
.lists {
  height: 450px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  margin-bottom: 20px;
  width: 100%;
  font-size: 14px;
}

.list-initial-view {
  position: relative;
  background-color: var(--secondary-background);
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 18px 30px -15px rgba(0, 0, 0, .19);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .list-name {
    flex: 0 0 80%;
  }
}

.list-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  width: 90%;
  margin: -50px auto 0;
  padding: 5px 10px;
  background-color: var(--secondary-background);
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, .09);
  z-index: 10;
  padding: 20px 15px;
  transition: margin-top 0.15s ease-in;

  &.active {
    margin-top: 0px;
  }

  .default-list-input {
    align-content: center;
  }
}


// task module

.tasks {
  height: 460px;
  overflow-y: auto;
  padding: 30px 20px 0px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.task {
  margin-bottom: 20px;
  width: 100%;
  font-size: 14px;
  padding: 0 15px;
}

.task-initial-view {
  position: relative;
  background-color: var(--secondary-background);
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: 0 18px 30px -15px rgba(0, 0, 0, .19);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task-name {
    flex: 0 0 80%;
  }
}

.task-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  width: 90%;
  margin: -40px auto 0;
  background-color: var(--secondary-background);
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, .09);
  z-index: 10;
  padding: 15px 20px;
  transition: margin-top 0.15s ease-in;

  &.active {
    margin-top: 0px;
  }

}


.task-item {
  display: flex;
  align-items: center;
}

.task-name {
  flex-grow: 1;
  input[type=text] {
    width: 100%;
  }
}

// TODO: 2. dirty code -> for alignment fix
.delete-task {
  cursor: pointer;
  svg {
    margin-left: 10px;
  }
}

.main-body {
  background-color: #ecf0f1;
}

.screen-2 { // TODO: 3. class name resolution fix
  .status {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; // TODO: 4. how to reduce this code ?
    span {
      font-size: 12px;
    }
  }
  header {
    margin: 0 20px; // TODO: 1. wrapper fixes  is there a better way for this ?
    overflow: auto;
    position: relative;

    .list-heading {
      margin-bottom: 10px;
    }

    .add-task {
      position: absolute;
      right: 0;
      top: 35px;
      color: var(--white);
    }
  }

  footer {
    display: flex;
    padding: 10px 20px; // TODO: 1. wrapper fixes  is there a better way for this ?
    align-items: center;
    justify-content: space-between;

    .back {
      color: var(--gray);
    }

    .selected {
      background-color: lightgrey;
    }
  }
}

.screen-3 {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;

    .back {
      color: var(--white);
    }
  }

  .main-body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    min-height: 400px;

    textarea,
    input[type="text"] {
      background-color: var(--white);
      padding: 10px;
      font-size: 16px;
      box-shadow: 0px 2px 3px 0.5px rgba(0, 0, 0, .06);
    }
  }
}

// settings view
.settings-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-dirty); 
  z-index: 30;
  display: flex;

  header {
    min-height: 75px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px 0;
  }  
}

.settings-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.settings {
  flex-grow: 1;
}


.sidebar-nav {
  max-width: 300px;
  width: 100%;
  padding: 60px 40px 0;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .09);

  .nav-item {
    padding: 15px 0;
    cursor: pointer;
    text-transform: capitalize;
    
    &.active {
      color: red
    }
  }
}

.settings-details {  
  margin: 40px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .09);
  background: var(--white);
}

[data-icon] {
  cursor: pointer;
}


.user-info {
  display: flex;
  margin-bottom: 25px;

 .pic {
  border-radius: 2px;
  margin-right: 10px
 }

 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h4 {
    margin: 0;
    margin-bottom: 5px;
    color: var(--black);
  }
  p {
    margin: 0;
    color:var(--gray);
  }
 }

 .sub-text {
   font-size: 12px;
 }

}

.flex {
  display: flex;
}
.existing-waves {
  flex-grow: 1;
}
.add-wave {
  flex-basis: 35%;
}

.selected {
  border: 3px solid black;
}